.playerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--mainWhite);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playerLeft {
  width: 33%;
}

.playerMiddle {
  display: flex;
  justify-content: center;
  width: 33%;
}

.playerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}
