.progressWrapper {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 100px;
  top: -15px;
  display: flex;
  align-items: center;
}

.progressBar {
  width: calc(100% - 100px);
}

.progressBarFill {
  display: block;
  height: 3px;
  background-color: var(--primaryColor);
  transition: width 500ms ease-in-out;
}
